/* specifieke stijlregels voor 403-pagina */
body {
    background-color: #FFF;
    color: #000;
    background-image: url(../afbeeldingen/background2error403.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Overpass', sans-serif;
}

@media screen and (min-width:600px) {
    body {
        background-color: #FFF;
        color: #000;
        background-image: url(../afbeeldingen/background1error403.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Overpass', sans-serif;
    }
}
